body {
  font-family: "Lato", sans-serif;
  background-color: #9CA880;


}
h2{
  margin: 10px 0px 10px 170px;
}
.table_style {
  border-collapse: collapse; 
}
table{
  align-items: center;
  
}

table,
td,
th {
  border: solid 1px mediumslateblue;
  font-family: "Coming Soon", cursive;
  background-color: #C0A850;
  text-align: center;
}

th {
  padding: 20px 30px;
}
td {
  padding: 5px 10px;
}

.last_button {
  background-color: #C0A850;
  padding: 3px 6px;
  border-color: mediumslateblue;
}
.input_text {
  background-color: #C0A850;
  border-color: mediumslateblue;
  padding: 8px;
  margin: 5px;
  border-radius: 0.5em;
}

select {
  background-color: #C0A850;
  padding: 3px 6px;
  border-color: mediumslateblue;
}

textarea{
  background-color: #C0A850;
  border-color: mediumslateblue;
}

form{
  flex-basis: 200px;
  
}

