body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background-image: url("../img/bg-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.screen {
  background: linear-gradient(
    90deg,
    rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%
  );
  min-height: 100vh;
  padding-bottom: 100px;
}

a {
  color: #fff;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
/*header*/
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 58px;
}

.header__logo {
  margin-right: auto;
  margin-left: 201px;
}

.logo__title {
  margin-left: 9px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  color: #fff;
  line-height: 22px;
  font-size: 18px;
}

.logo__title:hover {
  font-size: 22px;
  transition: linear 0.4s;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 23px;
  margin-left: auto;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
}

.menu__list li {
  margin-right: 25px;
  cursor: pointer;
}

.select__language {
  display: flex;
  align-items: center;
  margin-right: 23px;
  margin-left: auto;
}

.flag {
  width: 32px;
  height: 32px;
}
.language__text {
  margin-left: 11px;
  margin-right: 11px;
  color: #fff;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

.button__login {
  display: block;
  width: 100px;
  height: 40px;
  margin-left: 25px;
  border: 1px solid #fff;
  border-radius: 6px;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 168px;
}

.button__login:hover {
  background-color: #fff;
  color: #dd442c;
  transition: linear 0.3s;
}

/* .wrapper:hover {
  background-image: url();
} */

.menu__list li:hover {
  font-size: 18px;
  transition: linear 0.4s;
}

/*main*/
.main {
  text-align: center;
}
.main__title {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 140px;
}

.main__title-sub {
  font-style: normal;
  width: 540px;
  height: 124px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #fff;
  margin-top: 40px;
  margin-left: 450px;
  letter-spacing: 2px;
}

.main__button {
  display: block;
  width: 160px;
  height: 50px;
  background: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ed4c5c;
  margin-top: 40px;
  margin-left: 640px;
}

.main__button:hover {
  color: #fff;
  background: transparent;
  transition: linear 0.3s;
}

@media screen and (max-width: 1100px){
  .container{
    max-width: 1080px;
  }

.menu{
order: 1;
  margin: 30px 15px;
}
.main__title-sub{
text-align: center;
  font-size: 20px;
  margin-left: 25%;
}
.main__title{
  font-style: 60px;
}

.main__button{
  margin-left: 455px;
}
}


@media screen and (max-width: 780px){
  .container{
    min-width: 740px;
  }
  .main__title-sub{
    margin-left: 120px;}
    .main__button{
      margin-left: 298px;
    }

.header__logo{
  margin-left: 30px;
}
.button__login{
  margin-right: 30px;
}
}
@media screen and (max-width: 450px){
  .container{
    width: 400px;
  }
  .main__button{
margin-left: 125px;
  }
  .main__title{
    margin-top: 10px;
    font-size: 40px;
    margin-right: 320px;
  }
  .main__title-sub{
    margin-left: 30px;
    width: 360px;
    height: 100px;
  }

  .select__language{
    margin-right: 350px;
  }


  .button__login{
    margin-top: 20px;
    margin-right: 104px;
    margin-left: 60px; 
  }
.menu__list{
flex-direction: column;
padding-top: 5px;
margin-left: 45px;
margin-right: 330px;
justify-content: space-between;
line-height: 30px;

}